<ion-header>
  <ion-toolbar>
    <ion-title>
      Album de discos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/crear-disco">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let disco of discos">
      <ion-label>
        <h2>{{disco.title}} 
            <ion-button float-right color="danger" shape="round" (click)="delete(disco.id)"><ion-icon name="close"></ion-icon> </ion-button>
          <ion-button float-right shape="round"><ion-icon name="create" routerLink="/editar-disco"></ion-icon> </ion-button> </h2>
        <p>{{disco.artist}}</p>
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
