<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="arrow-round-back" defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title>Crear Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label position="stacked">Id del disco</ion-label>
          <ion-input [(ngModel)]="disco.id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Artista</ion-label>
          <ion-input [(ngModel)]="disco.artist"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Título</ion-label>
            <ion-input [(ngModel)]="disco.title"></ion-input>
          </ion-item>
        <ion-item>
            <ion-label position="stacked">Fecha de lanzamiento</ion-label>
            <ion-input [(ngModel)]="disco.releaseDate"></ion-input>
        </ion-item>  
      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
      </div>
</ion-content>
